.container-header{
    width: 100%;
<<<<<<< HEAD
    height: 50px;
    background-color: yellow;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

.promo{
    display: flex;
    width: 90%;
    margin: 100px auto;
    
}

body{
    background-color: blueviolet;
}

h1{
    text-align: center;
}

  
.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    color: #025157;
  }
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
.publish > form {
    display: flex;
  }
  
.publish > form label {
    color: #025157;
    margin-right: 18px;
  }

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

iframe{
    text-align: center;
=======
    height: 200px;
    background-color: blueviolet;
}

.container-section-promo{
    display: inline-block;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: blueviolet;
}

body{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
    align-items: center;
>>>>>>> 6e41dae37b790ffdc506501078c9695cbc82211d
}